spring:
  application:
    name: MADiE User Service
  data:
    mongodb:
      database: ${MONGO_DATABASE:user}
      uri: ${MONGO_URI:mongodb://${DBUSER}:${DBPASS}@localhost:27017/user}?authSource=admin&maxPoolSize=50&connectTimeoutMS=2000&serverSelectionTimeoutMS=2000
      auto-index-creation: true

server:
  port: 8088
  servlet:
    context-path: /api

management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: "*"

logging:
  level:
    root: ${LOG_LEVEL:DEBUG}
  pattern:
    console: "%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %mdc %-5level %logger{36}.%M - %msg%n"

harp:
  base-url: ${HARP_BASE_URL:https://test.harp.cms.gov}
  program-name: MADiE
  ado-name: MADiE
  token:
    uri: /harpAuthzApi/token
    scope: userRoleCreationApi userFindApi
    client-id: ${HARP_CLIENT_ID:}
    secret: ${HARP_SECRET:}
  user-roles:
    uri: /userRoleCreationApi
  user-find:
    uri: /userFindApi



okta:
  oauth2:
    issuer: ${OKTA_ISSUER:https://dev-madie.okta.com/oauth2/default}
    audience: ${OKTA_AUDIENCE:api://default}
